{% extends "_base.html" %}
{% block Header %}
    Learnt Cards
{% endblock %}
{% block Title %}
    Learnt Cards
{% endblock %}
{% block Contents %}
    <div class="row">
        {% if cards %}
        {% for card in cards %}
            <div class="col-2 m-2 text-center cards">
                <h3>{{ card.word }}</h3>
                <h4>{{ card.meaning }}</h4>
                <label for="progressbar" style="font-size:10px">Progress: </label>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{ (card.correct_answers * 100) / 5 }}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{ (card.correct_answers * 100) / 5 }}%</div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    </div>
    <div class="row text-center mt-5">
            <a href={{ url_for('index') }}><button type="button" class="btn btn-dark"><i class="fa fa-home" aria-hidden="true"></i>home</button></a>
    </div>

{% endblock %}
